# Linear Regression

In [2]:
import pandas as pd
import numpy as np

In [3]:
crime = pd.read_csv('NYPD_Rollup_All_Crimes_Joined_All.csv') # read in the csv %%file

In [4]:
crime.head()

,CMPLNT_FR_DT,Daytime,Day_Name,Month,Day,Year,Season,GeoCell,BORO_NM,count_cmplnt,...,SNOW,TMIN,TMAX,Population,PC_INCOME,Hm_Sls_Price_Range,Holiday,Event,is_Holiday,is_Event
0,1/1/2014,Day,Wednesday,January,1.0,2014.0,Winter,15.0,BROOKLYN,1,...,0.0,24,33,"2,552,911",41399,High,New Year's Day,New York Boat Show,1,1
1,1/1/2014,Day,Wednesday,January,1.0,2014.0,Winter,16.0,BROOKLYN,4,...,0.0,24,33,"2,552,911",41399,High,New Year's Day,New York Boat Show,1,1
2,1/1/2014,Day,Wednesday,January,1.0,2014.0,Winter,25.0,BROOKLYN,7,...,0.0,24,33,"2,552,911",41399,High,New Year's Day,New York Boat Show,1,1
3,1/1/2014,Day,Wednesday,January,1.0,2014.0,Winter,26.0,BROOKLYN,2,...,0.0,24,33,"2,552,911",41399,High,New Year's Day,New York Boat Show,1,1
4,1/1/2014,Day,Wednesday,January,1.0,2014.0,Winter,34.0,BROOKLYN,1,...,0.0,24,33,"2,552,911",41399,High,New Year's Day,New York Boat Show,1,1